@use 'variables' as v;

body {
  height: 100vh; // Full height of the viewport
  margin: 0; // Remove default margin
  background:
          radial-gradient(circle at top, v.$gradient-primary 10%),
          radial-gradient(circle at bottom, v.$gradient-primary 50%),
          linear-gradient(to bottom, v.$gradient-crimson-dark);
  background-blend-mode: multiply;
}
