@use 'variables' as v;
@use 'mixins' as m;

@layer abstracts.tokens {
  :root {
    /* basic colors */
    --theme-background: var(--theme-surface-a0);
    --theme-on-background: 18, 18, 18;

    /* on background colors */
    --theme-on-primary: #000000;
    --theme-on-primary-inverse: #ffffff;
    --theme-on-primary-container: #ffffff;
    --theme-on-secondary: #000000;
    --theme-on-secondary-inverse: #ffffff;

    --theme-primary-rgba: v.$primary;

     /* primary rgba colors */
    @include m.primary-rgba-colors();
  }

}

section {
  min-height: 480px;
  min-width: 60vh;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.gradient_container {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  animation: rtt 20s linear infinite;
}

@keyframes rtt {
  to {
    transform: rotate(360deg);
  }
}

.box {
  width: 50%;
  height: 50%;
  filter: blur(140px);
}

.box:nth-child(1) {
  background: v.$dark-red;
}

.box:nth-child(2) {
  background: #200122;
}

.box:nth-child(3) {
  background: #200122;
}

.box:nth-child(4) {
  background: v.$maroon;
}

.content {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
}

.config {
  margin-inline: auto;

  max-width: 640px;
  width: 80vw;
}

h1 {
  font-size: 3em;
}

i {
  position: absolute;
  bottom: 140px;
  right: 220px;
}

a {
  position: relative;
}

a:before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: -20px;
  height: 3px;
  width: 85px;
  transform: scaleX(0);
  background: #fff;
  transform-origin: right;
  transition: transform 0.3s ease;
}

a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}


