$property-prefix: theme !default;

// Primary colors
$primary: #382bf0 !default;
$secondary: #ffc107 !default;
$accent: #ffc9e1 !default;

// Semantic colors
$white: hsl(100, 100%, 100%);
$black: hsl(0, 0%, 0%);
$dark: hsl(0, 0%, 7.1%);

$success: hsl(145, 100%, 39%);
$muted: #52595f;
$warning: hsl(40, 100%, 50%);
$info: hsl(240, 100%, 37%);
$danger: hsl(354, 73%, 51%);

$primary-colors: (
        'primary': $primary,
        'secondary': $secondary,
        'accent': $accent,
        'overlay': $black,
        'success': $success,
        'info': $info,
        'warning': $warning,
        'danger': $danger,
        'muted': $muted,
);

// Gradients

$gradient-primary: #000000, #434343;
$gradient-dark-skies: #4b79a1, #283e51;
$gradient-citrus: #fdc830, #f37335;
$gradient-red-sunset: #355c7d, #6c5b7b, #c06c84;
$gradient-bighead: #c94b4b, #4b134f;
$gradient-relaxing-red: #fffbd5, #b20a2c;
$gradient-lawrencium: #0f0c29, #302b63, #24243e;
$gradient-crimson-tide: #642B73, #C6426E;
$gradient-crimson-dark: #200122, #6f0000;
$gradient-orca: #44A08D, #093637;
$gradient-red-ocean: #1d4350, #a43931;
$gradient-fresh: #f1f2b5, #135058;
$gradient-man-of-steel: #780206, #061161;


